$red: #E63946;
$white: #F1FAEE;
$light-blue: #A8DADC;
$blue: #457B9D;
$dark-blue: #1D3557;

$primary: $red;
$link: $dark-blue;

$control-border-width: 2px;
$input-background-color: $blue;
$input-border-color: transparent;
$input-shadow: none;


@import "~bulma/bulma.sass"